@model IEnumerable<Wardrobe.Models.Outfit>
@{
    ViewBag.Title = "Home Page";
}


    <body class="home" background="http://www.publicdomainpictures.net/pictures/20000/velka/carved-wooden-door.jpg">
                
  
      </body>
